{% extends 'catalog/base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<h1>Информация о продукте</h1>
    <p>Наименование: {{ product.name }}</p>
    <p>Описание: {{ product.description }}</p>
    <p>Фотография:
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50">
    {% else %}
        Нет изображения
    {% endif %}
    </p>
    <p>Категория: {{ product.category.name }}</p>
    <p>Цена: {{ product.price }}</p>
    <p>Создан: {{ product.created_at }}</p>
    <p>Обновлен: {{ product.updated_at }}</p>
    {% if user.is_authenticated and user == product.owner %}
        <a href="{% url 'catalog:product_edit' product_id=product.pk %}">Редактировать</a>
        <a href="{% url 'catalog:product_delete' product_id=product.pk %}">Удалить</a>
    {% endif %}
    {% if request.user.has_perm('catalog.can_unpublish_product') %}
        <form method="post" action="{% url 'catalog:unpublish_product' product_id=product.id %}">
            {% csrf_token %}
            <button type="submit">Отменить публикацию</button>
        </form>
    {% endif %}

    {% if request.user.has_perm('catalog.delete_product') %}
        <form method="post" action="{% url 'catalog:product_delete' product_id=product.id %}">
            {% csrf_token %}
            <button type="submit">Удалить продукт</button>
        </form>
    {% endif %}
{% endblock %}
